{% extends 'account/main_template.html' %}
{%load static%}
{%block content%}
 
<!-- Overview -->
										<div class="row">
											
										
										
										<div class="row">


											<!-- Job full detail Start -->
												<section class="full-detail-description full-detail">
													<div class="container">

								<!-- Job Description -->
				<div class="col-md-8 col-sm-12">
					<div class="full-card">
					
						<div class="row row-bottom mrg-0">
							<h2 class="detail-title">Student Detail</h2>
							<ul class="job-detail-des">
								{%for p in profile%}
								<li><span>Name:</span>{{p.fname}} &nbsp; {{p.lname}}</li>
								<li><span>Mobile:</span>{{p.contact}}</li>
								<li><span>Address:</span>{{p.address}}</li>
								
								{% endfor %}
							</ul>
						</div>
						
						<div class="row row-bottom mrg-0">
							<h2 class="detail-title">Course Detail</h2>
							<ul class="job-detail-des">
								{% for r in Reg%}
								<li><span>Course Name:</span>{{r.creg.courseTitle}}</li>
								<li><span>Registered Date:</span>{{r.reg_date}}</li>
								<li><span>Start Date:</span>{{r.creg.start_date}}</li>
								<li><span>Duration:</span>{{r.creg.duration}}</li>
								
								{% endfor %}
							</ul>
						</div>
						
					</div>
				</div>
				<!-- End Job Description -->
				
				
				
			</div>
		</section>	
	</div>

{%endblock%}